@model IEnumerable<Student_Activity_Management_System.Models.User>

@{
    ViewBag.Title = "Batch_2024";
}

<h2>Batch_2024</h2>

<p>
    @Html.ActionLink("Create Student", "CreateStudent", "Student")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Last_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th>
            Operations
        </th>
        <th>
            Actions
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.First_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Last_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.ActionLink("Edit Student", "EditStudent", "Student", new { id = item.User_ID }, null)
                @Html.ActionLink("Delete", "DeleteStudent", new { id = item.User_ID }, new { onclick = "return confirm('Are you sure you want to delete this admin?');" })
            </td>
            <td>
                @Html.ActionLink("Student Profile", "StudentProfile", "Student", new { id = item.User_ID }, null)
            </td>
        </tr>
    }
</table>
