@model IEnumerable<Student_Activity_Management_System.Models.User>

@{
    ViewBag.Title = "Batch_2024";
}

<h2>GetUserByBatchID</h2>

<p>
    @Html.ActionLink("Create Student", "CreateStudent", "Student")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.User_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Last_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Batch_ID)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.First_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Last_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Batch_ID)
            </td>
            <td>
                @Html.ActionLink("Edit Student", "EditStudent", "Student", new { id = item.User_ID }, null)
                @Html.ActionLink("Details", "Details", new { id = item.User_ID }, null) |
                @Html.ActionLink("Delete", "DeleteStudent", new { id = item.User_ID }, new { onclick = "return confirm('Are you sure you want to delete this admin?');" })
            </td>
        </tr>
        <tr>
            <td colspan="8">
                <!-- Details section for the user -->
                <div id="details-@item.User_ID" style="display: none;">
                    <h4>User Details</h4>
                    <p><strong>User ID:</strong> @item.User_ID</p>
                    <p><strong>First Name:</strong> @item.First_Name</p>
                    <p><strong>Last Name:</strong> @item.Last_Name</p>
                    <p><strong>Gender:</strong> @item.Gender</p>
                    <p><strong>Email:</strong> @item.Email</p>
                    <!-- Add more details as needed -->
                </div>
            </td>
        </tr>
    }
</table>
