@model Student_Activity_Management_System.Models.User



@{
    ViewBag.Title = "StudentProfile";

}


<!DOCTYPE html>
<html>
<head>
    <title>Student Profile</title>
    <link rel="stylesheet" href="~/Content/Style Sheet/StudentDashboard.css" />

</head>
<body>


    <!-- Student Profile -->
    <div class="student-profile py-4">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="card shadow-sm">
                        <div class="card-header bg-transparent text-center">
                            <img class="profile_img" src="~/Content/Images/LOGO.png" alt="">
                        </div>

                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="card shadow-sm">
                        <div class="card-body pt-0">
                            <table class="table table-bordered">
                                <tr>
                                    <th width="30%">First_Name</th>
                                    <td width="2%">:</td>
                                    <td>@Model.First_Name</td>
                                </tr>
                                <tr>
                                    <th width="30%">Last_Name</th>
                                    <td width="2%">:</td>
                                    <td>@Model.Last_Name</td>
                                </tr>
                                <tr>
                                    <th width="30%">Gender</th>
                                    <td width="2%">:</td>
                                    <td>@Model.Gender</td>
                                </tr>
                                <tr>
                                    <th width="30%">Email</th>
                                    <td width="2%">:</td>
                                    <td>@Model.Email</td>
                                </tr>

                                <tr>
                                    <th width="30%">Batch_Name</th>
                                    <td width="2%">:</td>
                                    <td>2024</td>
                                </tr>
                                <tr>
                                    <th width="30%">Gender</th>
                                    <td width="2%">:</td>
                                    <td>Male</td>
                                </tr>
                                <tr>
                                    <th width="30%">User_ID</th>
                                    <td width="2%">:</td>
                                    <td>@Model.User_ID</td>
                                </tr>
                                <tr>
                                    <th width="30%">blood</th>
                                    <td width="2%">:</td>
                                    <td>B+</td>
                                </tr>
                                <tr>
                                    <th width="30%">Aadhar No.</th>
                                    <td width="2%">:</td>
                                    <td>345348645376</td>
                                </tr>
                                <tr>
                                    <th width="30%">Address</th>
                                    <td width="2%">:</td>
                                    <td>Panvel</td>
                                </tr>
                                <tr>
                                    <th width="30%">Mobile No.</th>
                                    <td width="2%">:</td>
                                    <td>23576354856</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <tr>
        <td>
            @Html.ActionLink("Edit Student", "EditStudent", "Student")
        </td>
    </tr>

    <!-- You can add more fields as needed -->

    <a href="@Url.Action("Index", "Home")">Back to Home</a>
</body>
</html>
