@model Student_Activity_Management_System.Models.AcademicDetails

@{
    ViewBag.Title = "Add Academic Details";
}

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<a href="@Url.Action("ViewAcademicDetails", "Academic")" class="box">
    <h3>View Data</h3>
</a>

<h2>Add Academic Details</h2>

@using (Html.BeginForm("AddAcademicDetails", "Academic", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(model => model.Year, "Year")
        @Html.EditorFor(model => model.Year, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Year, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Semester, "Semester")
        @Html.EditorFor(model => model.Semester, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Semester, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.CGPA, "CGPA")
        @Html.EditorFor(model => model.CGPA, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.CGPA, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.ClosedBacklog, "Closed Backlog")
        @Html.EditorFor(model => model.ClosedBacklog, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.ClosedBacklog, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.LiveBacklog, "Live Backlog")
        @Html.EditorFor(model => model.LiveBacklog, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.LiveBacklog, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.FileUploadPath, "File Upload")
        <input type="file" name="FileUpload" />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
}

<div>
    @Html.ActionLink("Back to List", "ViewAcademicDetails")
</div>
